@model Categorias
@{
    ViewData["Title"] = "Crear Categorias";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 mt-5">
            <div class="card shadow-lg border-0">
                <div class="card-header text-center"><h2>Crear Categoria</h2></div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <p class="card-text">
                        <form asp-controller="Categorias" asp-action="Crear" method="post">
                            <div class="mb-3">
                                <label asp-for="Nombre" class="form-label"></label>
                                <input type="text" asp-for="Nombre" class="form-control" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="IdTipoOperacion" class="form-label"></label>
                                <select class="form-select" asp-for="IdTipoOperacion" asp-items="Html.GetEnumSelectList<TipoOperacion>()"></select>
                                <span asp-validation-for="IdTipoOperacion" class="text-danger"></span>
                            </div>
                            <div class="col-12 text-center">
                                <div class="row justify-content-between">
                                    <div class="col-5">
                                        <a asp-action="Index" class="btn btn-outline-danger form-control">Cancelar</a>
                                    </div>
                                    <div class="col-5">
                                        <button class="btn btn-outline-success form-control">Crear</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}