@{
    ViewData["Title"] = "No found";
}
<div class="container text-center my-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-6">
            <!-- Card principal -->
            <div class="card shadow-lg border-0">
                <div class="card-header bg-custom text-danger">
                    <h1 class="fw-bold">== ERROR FATAL ==</h1>
                </div>
                <div class="card-body">
                    <i class="fa-solid fa-tools fa-5x text-secondary mb-3"></i>
                    <p class="fs-4">Al momento de enviar la solicitud el valor obtenido no es el esperado ! Vuelve a intentar</p>
                    <a asp-action="Index" class="btn btn-outline-danger form-control">Click aquí para regresar</a>
                </div>
            </div>
        </div>
    </div>
</div>