@model TransaccionesActualizacionViewModel
@{
    ViewData["TiTle"] = "Editar Transaccion";
    var linkCancelar = Model.UrlRetorno ?? Url.Action("Index");
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8 mt-5">
            <div class="card shadow-lg border-0">
                <div class="card-header text-center"><h2>Editar Transaccion</h2></div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <p class="card-text">
                        <form asp-action="Editar" method="post">
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="MontoAnterior" />
                            <input type="hidden" asp-for="IdCuentaAnterior" />
                            <input type="hidden" asp-for="UrlRetorno" />
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label asp-for="FechaTransaccion" class="form-label"></label>
                                        <input asp-for="FechaTransaccion" class="form-control" />
                                        <span asp-validation-for="FechaTransaccion" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="IdCuenta" class="form-label"></label>
                                        <select asp-for="IdCuenta" asp-items="Model.Cuenta" class="form-select"></select>
                                        <span asp-validation-for="IdCuenta" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="IdTipoOperacion" class="form-label"></label>
                                        <select asp-for="IdTipoOperacion" id="IdTipoOperacion" asp-items="Html.GetEnumSelectList<TipoOperacion>()" class="form-select"></select>
                                        <span asp-validation-for="IdCuenta" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-3">
                                        <label asp-for="IdCategoria" class="form-label"></label>
                                        <select class="form-select" asp-for="IdCategoria"></select>
                                        <span asp-validation-for="IdCategoria" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Monto" class="form-label"></label>
                                        <input asp-for="Monto" class="form-control" />
                                        <span asp-validation-for="Monto" class="text-danger"></span>
                                    </div>
                                    <div class="mb-3">
                                        <label asp-for="Nota" class="form-label"></label>
                                        <textarea asp-for="Nota" class="form-control" style="height: 100px"></textarea>
                                        <span asp-validation-for="Nota" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12 text-center">
                                    <div class="row justify-content-between">
                                        <div class="col-6">
                                            <div class="row">
                                                <div class="col-6">
                                                    <a href="@linkCancelar" class="btn btn-outline-secondary form-control">Cancelar</a>
                                                </div>
                                                <div class="col-6">
                                                        <button class="btn btn-outline-danger form-control" asp-action="Borrar">Borrar</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <button class="btn btn-outline-success form-control">Actualizar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/FormularioTransacciones.js" asp-append-version="true"></script>
    <script>
        const urlObtenerCategorias = '@Url.Action("ObtenerCategorias")';
        $(function(){
            inicializarFormilarioTransacciones(urlObtenerCategorias)
        });
    </script>
}