@model CuentaCreacionViewModel
@{
    ViewData["Title"] = "Editar Cuenta";
}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 mt-5">
            <div class="card shadow-lg border-0">
                <div class="card-header text-center"><h2>Editar Cuenta</h2></div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="card-body">
                    <p class="card-text">
                        <form asp-controller="Cuentas" asp-action="Editar" method="post">
                            <input type="hidden" asp-for="Id">
                            <div class="mb-3">
                                <label asp-for="Nombre" class="form-label"></label>
                                <input type="text" asp-for="Nombre" class="form-control" />
                                <span asp-validation-for="Nombre" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="IdTipoCuenta" class="form-label"></label>
                                <select class="form-select" asp-for="IdTipoCuenta" asp-items="Model.TiposCuentas"></select>
                                <span asp-validation-for="IdTipoCuenta" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Balance" class="form-label"></label>
                                <input type="text" asp-for="Balance" class="form-control" />
                                <span asp-validation-for="Balance" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="Descripcion" class="form-label"></label>
                                <textarea asp-for="Descripcion" class="form-control" style="height: 100px"></textarea>
                                <span asp-validation-for="Descripcion" class="text-danger"></span>
                            </div>
                            <div class="col-12 text-center">
                                <div class="row justify-content-between">
                                    <div class="col-5">
                                        <a asp-action="Index" class="btn btn-outline-danger form-control">Cancelar</a>
                                    </div>
                                    <div class="col-5">
                                        <button class="btn btn-outline-success form-control">Actualizar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}