.acordeon-cuentas button {
    color: black !important;
    font-size: 20px;
}

    .acordeon-cuentas button > span {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

.acordeon-cuentas ul li {
    display: flex;
    justify-content: space-between;
}

.acorde.acordeon-cuentas . accordion-collapse {
    font-size: 10px;
}
